body {
    background-color: #FFFAFA;
    padding-top: 70px;    
}

/*----- INDEX ------ */
.jumbotron {
    background: transparent;
}

.indexContainer {
    text-align: center;
}

.thumbnailIndex {
    padding: 0;
    overflow: hidden;
    border: none;
    text-align: center;
    
}

.thumbnailIndex a img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-filter: none;
}

.thumbnailIndex img:hover {
    cursor: pointer;
    -webkit-filter: opacity(.4); 
}

.thumbnailIndex a:hover ~ .imgCaption {
    display: none;
}
.thumbnailIndex a:hover ~ .desc {
    display: inline;
    position: absolute;
    color: black;
    top: 10%;
    left: 15%;
}

.desc {
    display: none;
}

.imgCaption {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 3%;
    left: 5%;
}

/*----- SHOW ------ */

.delete-form {
    display: inline;
}
