body {
    background-color: #FFFAFA;
    font-family: 'Montserrat', sans-serif;
}

.navbar {
    background-color: rgba(211,211,211, 0.4);
}

/*----- INDEX ------ */
.jumbotron {
    background: transparent;
    font-family: 'Montserrat', sans-serif;
}

.indexContainer {
    text-align: center;
}

.thumbnailIndex {
    padding: 0;
    overflow: hidden;
    border: none;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}

.thumbnailIndex a img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    filter: none;
    transition: all 0.1s ease-in-out;
}

.thumbnailIndex img:hover {
    cursor: pointer;
    filter: opacity(.4); 
}

.thumbnailIndex a:hover ~ .imgCaption {
    visibility: hidden;
    
    
}
.thumbnailIndex a:hover ~ .desc {
    visibility: visible;
}

.desc {
    width: 80%;
    font-size: 16px;
    visibility: hidden;
    position: absolute;
    color: black;
    top: 10%;
    left: 10%;
    transition: all 0.1s ease-in-out;
    pointer-events: none;
}

.imgCaption {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
    visibility: visible;
    transition: all 0.1s ease-in-out;
    
}

/*----- SHOW ------ */
.delete-form {
    display: inline;
}

.thumbnailShow {
    padding: 0;
}

/*----- LOGIN && REGISTER ----- */
.loginRow h1 {
    text-align: center;
}

.loginDiv {
    width: 30%;
    margin: 25px auto;
}

/*----- MAP ----- */
#map {
    height: 400px;
    width: 100%;
}