body {
    background-color: #FFFAFA;
    padding-top: 70px;    
}

.jumbotron {
    background: transparent;
}

.indexContainer {
    text-align: center;
}

.thumbnail {
    padding: 0;
    overflow: hidden;
    border: none;
    text-align: center;
    
}

.thumbnail img {
    width: 100%;
    height: 300px;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    -webkit-filter: none;
}

.thumbnail img:hover {
    cursor: pointer;
    -webkit-filter: opacity(.4); 
}

.thumbnail img:hover ~ .imgCaption {
    display: none;
}
.thumbnail img:hover ~ .desc {
    display: inline;
    position: absolute;
    color: black;
    top: 10%;
    left: 15%;
}

.desc {
    display: none;
}

.imgCaption {
    font-size: 30px;
    color: white;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.delete-form {
    display: inline;
}


